* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    background-color: beige;
}

ul.menu li {
    float: left;
    padding: 8px 16px;
}

ul.menu li:hover, ul.submenu li:hover {
    background-color: bisque;
}

.has-submn {
    position: relative;
}

.submenu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0px;
    width: 120px;
}

.has-submn:hover ul.submenu {
    display: block;
}