* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.menu {
    background-color: cornflowerblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul.menu>li {
    display: inline;
    line-height: 24px;
}

ul.menu>li>a {
    padding: 6px 20px;
    display: inline-block;
}

ul.menu>li>a:hover {
    background-color: cadetblue;
}

.has-submenu1, .has-submenu2 {
    position: relative;
}

.submenu1 {
    position: absolute;
    display: none;
    top: 29px;
    left: 0px;
}
.submenu2 {
    position: absolute;
    display: none;
    top: 0px;
    left: 100%;
}

.has-submenu1:hover .submenu1 {
    display: block;
    text-align: left;
    background-color: cornflowerblue;
}
.has-submenu2:hover .submenu2 {
    display: block;
    text-align: left;
    background-color: cornflowerblue;
}

ul.submenu1 li a, ul.submenu2 li a{
    display: block;
    padding: 8px 20px;
}
ul.submenu1 li a:hover, ul.submenu2 li a:hover {
    background-color: cadetblue;
}