* {
    margin: 0px;
    padding: 0px;
}

.menu {
    display: flex;
}

.menu>li {
    list-style-type: none;
    padding: 8px 16px;
    background-color: #eee;
}

.menu li:hover {
    background-color: #DDD;
}

.has-submn {
    position: relative;
}

.submn {
    position: absolute;
    display: none;
    left: 0px;
    top: 100%;
    width: 110px;
    background-color: #eee;
}

.submn li {
    list-style-type: none;
    padding: 8px 16px;
}

.has-submn:hover .submn {
    display: block;
}